:root {
    --bg-primary : #424242;
    --bg-primary-dark :#1b1b1b;
    --bg-primary-light: #6d6d6d;
    --bg-secondary : #9e9e9e;
    --bg-secondary-dark:#707070;
    --bg-secondary-light:#cfcfcf;
    --text-primary: #ffffff;
    --text-secondary: #000000;

    --font-family-body: 'Press Start 2P', cursive;
}