@import url(_reset.css);
@import url(_variables.css);
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: var(--font-family-body);
}