header {
    padding: 20px 0;
}

header h1 {
    font-size: 22px;
}

.header-container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

nav {
    margin: 100px 0;
    text-align: center;
}

nav li {
    display: block;
    margin: 15px 0;
}
