@import url(../base/_variables.css);

header {
    padding: 50px 0;
    background: var(--bg-primary-dark);
    width: 100%;
}

header .wrap{
    width: 1200px;
    margin: 0 auto;
}

.title-area {
    display: inline-block;
    height: 40px;
    width: 450px;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
    padding: 15px 15px;
}